@font-face {
    font-family: "consolas";
    src: url("../fonts/consola.ttf") format("truetype");
}
body{
    background-color: #E7E9EB;
}
.r_tbdr{
    border: 1px dashed black;
}
.r_w10{
    width: 200px;
}
.r_w5{
    width: 100px;
}
.r_h500{
    min-height: 500px;
}
.editable{
    outline: none;
}
.r_consola{
    font-family: "consolas","courier new",monospace !important;
}
.loader{
    width: 6rem;
    height: 6rem;
    border-width: 0.4em;
}